@charset "UTF-8";
.message{
	color: #ff8c00;
}

h1, p{
	margin-top: 0;
}

.icon{
	float:left;
  	height: 80px;
}

.circle{
	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	margin-right: 10px;
  	background-size: cover ;
}

.tweet{
	padding: 5px;
  	border-top: solid 1px #EEE;
}

.textbox-radius{
	border-radius: 10px; /* ボックスの四つ角を丸くする */
	border: 2px solid #ffffff;  /* 枠線 */
	width: 60%;
}

.button-radius{
	border-radius: 10px; /* ボックスの四つ角を丸くする */
	background: #000000;
	color: #ff0000;
	border: 0px;  /* 枠線 */
	width: 80px;
	height: 30px;
	margin-left: 10px;
}

.button-radius:hover {
	-webkit-animation: fluffy 0.8s linear 0s 1;
	animation: fluffy 0.8s linear 0s 1;
}
@-webkit-keyframes fluffy {
	0%   { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
	15%  { -webkit-transform: scale(0.9, 0.9) translate(0%, 5%); }
	30%  { -webkit-transform: scale(1.3, 0.8) translate(0%, 10%); }
	50%  { -webkit-transform: scale(0.8, 1.3) translate(0%, -10%); }
	70%  { -webkit-transform: scale(1.1, 0.9) translate(0%, 5%); }
	100% { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
}
@keyframes fluffy {
	0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
	15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
	30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
	50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
	70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
	100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.button-delete{
    border: 0px;
    width:24px;
    height:24px;
	background: url("delete_icon.png") left top no-repeat;
}

.button-delete:hover{
	background: url("delete_icon_hover.png") left top no-repeat;
}
.fav_button{
	width: 20px;
	height: 20px;
	border: none;
	padding-top: 14px;
	
	text-indent: -9999px;
}
.fav_icon{
	background: url("star.svg") no-repeat;
	filter: contrast(100%);
	background-size: cover;
}
.fav_icon:hover{
	background: url("star.svg") no-repeat;
	filter: contrast(10%);
	background-size: cover;
}
.nofav_icon{
	background: url("star.svg") no-repeat;
	filter: contrast(10%);
	background-size: cover;
}
.nofav_icon:hover{
	background: url("star.svg") no-repeat;
	filter: contrast(100%);
	background-size: cover;
}

.control{
	margin-top: 5px;
}

body{
    max-width: 50%;
  	margin:  0 auto;
  	padding-light: 200px;
  	border: solid 1px #000000;
  	background-image: url("kumakichi2020A1939_TP_V.jpg");
    background-size:contain
}

.content{
	margin-top: 0;
	color:#ff8c00;
}

.name{
	float: left;
	margin-right: 10px;
}

.mention{
	color: #c0c0c0;
}

.hedder{
	background: #000000;
	color: #ff8c00;
	height: 160px;
	margin-bottom: 0;
	padding-right:500px;
	padding-top: 5%;
	padding-left: 10%;
	background-image:url(地球　画像.jpg);
	background-repeat: no-repeat;
	
}

.post{
	padding-top: 5px;
	padding-left: 5px;
}

.button-reload{
	background-image:url('reload.png');
	background-size: cover;
	display:inline-block;
	width:30px;
	height:30px;
	text-indent:-9999px;
	background-color: black;
}

.favorite:hover{
	background: url("favorite.png") left top no-repeat;
}


#bg-video{
 position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
background: url('新しいビデオ - コピー_Trim.mp4') no-repeat;
 background-size: cover;
}